<div class="container" >
    <h2 class="animated slideInDown">Login</h2>
    <form class="form-horizontal">
        <div class="form-group" >
   <label  class="animated slideInLeft" > 
    Username:</label> <input class="form-control" type="text" id="username" ng-model="authform.username" >  <br>
</div>    
<div class="form-group">
   <label class="animated slideInLeft" > Password:</label> <input class="form-control" type="password" id="password" ng-model="authform.password">  <br>
<div style="color:red;">{{wrong}}</div>
</div>
   <button class="animated flipInY infinite btn btn-default" type="button" ng-click="submit()">Login</button>
   <button class="animated flipInY btn btn-default" type="button" ng-click="signup()">SignUp</button>

</form>

 </div>